extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5 
                img.img-fluid(src="img/nosotros.jpg", alt="Sobre nosotros")
            .col-md-7
                h1 #{page}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis bibendum ut tristique.

                p Cras pulvinar mattis nunc sed blandit libero volutpat. Quisque sagittis purus sit amet. Laoreet non curabitur gravida arcu ac tortor. Blandit libero volutpat sed cras ornare arcu dui. Sit amet est placerat in egestas erat imperdiet. Lectus proin nibh nisl condimentum id venenatis.

                p Gravida dictum fusce ut placerat orci nulla pellentesque dignissim enim. Aliquet nec ullamcorper sit amet risus. Ut sem viverra aliquet eget sit amet tellus cras. Convallis posuere morbi leo urna molestie at elementum eu facilisis. Commodo nulla facilisi nullam vehicula ipsum.
    .listado-iconos
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_seguridad.svg", alt="Seguridad")
                    h2.mb-4 Seguridad
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis bibendum ut tristique.
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_destinos.svg", alt="Destinos")
                    h2.mb-4 Los mejores destinos
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis bibendum ut tristique.
                .col-md-4
                    img.img-fluid.mb-4(src="img/icono_precios.svg", alt="precios")
                    h2.mb-4 Los mejores precios
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Arcu dui vivamus arcu felis bibendum ut tristique.
